{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
<main class="text-center mt-6">
    {% if not app.user %}
    <h1 class="text-5xl font-bold tracking-wide">Hello and welcome in <span>Fired</span>!</h1>
    <p class="mt-2">Please create an account or connect you for start create tasks!</p>

    <div class="btns mt-2">
        <a class="btn btn-outline btn-primary btn-sm" href="{{ path('app_register') }}">Register</a>
        <a class="btn btn-outline btn-primary btn-sm" href="{{ path('app_login') }}">Login</a>
    </div>
    {% else %}
    <h1 class="text-5xl font-bold tracking-wide">Hello {{ app.user.username }}!</h1>
    <p class="mt-2">You can create any lists and tasks you want!</p>

    <div class="btns mt-2">
        <a class="btn btn-outline btn-primary btn-sm" href="{{ path('app_note_list_new') }}">Create a list</a>
    </div>
    {% endif %}
    
</main>
{% endblock %}
