{% extends 'base.html.twig' %}

{% block title %}New NoteList{% endblock %}

{% block body %}
    <h1>Create new NoteList</h1>

    {{ include('note_list/_form.html.twig') }}

    <a href="{{ path('app_note_list_index') }}">back to list</a>
{% endblock %}
